.container-intes:nth-child(4){
    overflow-y: scroll; /* Mantém a rolagem */
    scrollbar-width: none; /* Esconde o scroll no Firefox */
    -ms-overflow-style: none; /* Esconde o scroll no Edge/IE */
    padding: 0;
    display: inline-block;
    background-color: #302D2D
}

/* Esconde a barra de rolagem no Chrome, Safari e Edge (Webkit Browsers) */
#content-container::-webkit-scrollbar {
    display: none;
}


.container-intes:nth-child(3) img{
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 0.1rem solid #BC2828
    }


.card{
    margin: 10px auto; /* Ajusta a margem entre os cartões */
    width: 10rem; /* Define a largura do cartão*/
    background-color: #151414;
}
.card-body{

    width: 100%;
    height: 100%;
    padding: 0%;

}
.card-title{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.card-text{
    color: white;
    text-align: center;
    font-size: 0.8rem;
    margin: 5px;
}
#hitoria-h1 {
    color: #daa520;
    font-size: 1.3rem;
    text-align: center;
    padding-top: 2rem;
    font-family: Playfair Display;
}

#hitoria-p {
    font-family: 'Lora', serif; /* Sofisticado e confortável para leitura */
    font-size: 1rem;
    color: rgb(194, 191, 191);
    text-align: left;
    padding-left: 1rem;
    line-height: 1.8; /* Ajusta o espaçamento entre as linhas */
}

.float-img {
    float: left; /* Faz a imagem flutuar à esquerda */
    margin-right: 15px; /* Espaço entre a imagem e o texto */
    margin-bottom: 10px; /* Espaço na parte inferior da imagem */
    border-radius: 8px; /* Bordas arredondadas para a imagem */
    width: 150px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}
.float-img:nth-child(2) {
    float: right; 
  }
